asgiref==3.6.0
astroid==2.15.5
asttokens==2.2.1
attrs==23.1.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.4
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.3
cloud-init==23.3.3
colorama==0.4.6
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
decorator==5.1.1
dill==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==4.2
django-debug-toolbar==4.0.0
django-extensions==3.2.1
django-stubs==4.2.1
django-stubs-ext==4.2.1
exceptiongroup==1.2.0
executing==1.2.0
fail2ban==0.11.2
flake8==6.0.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.6.4
incremental==21.3.0
ipython==8.12.0
isort==5.12.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mechanize==0.4.8
more-itertools==8.10.0
mypy==1.3.0
mypy-extensions==1.0.0
netifaces==0.11.0
numpy==1.26.2
oauthlib==3.2.0
outcome==1.3.0.post0
packaging==23.1
parso==0.8.3
pathspec==0.11.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.5.1
prompt-toolkit==3.0.38
psycopg2==2.9.6
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.15.0
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-debian==0.1.43+ubuntu1.1
python-magic==0.4.24
pytz==2022.1
PyYAML==5.4.1
requests==2.31.0
SecretStorage==3.3.1
selenium==4.15.2
service-identity==18.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.5.6
soupsieve==2.5
sqlparse==0.4.3
ssh-import-id==5.11
stack-data==0.6.2
systemd-python==234
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
traitlets==5.9.0
trio==0.23.1
trio-websocket==0.11.1
Twisted==22.1.0
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.10
typing_extensions==4.6.3
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.1.0
vk==3.0
wadllib==1.3.6
wcwidth==0.2.6
webencodings==0.5.1
wrapt==1.15.0
wsproto==1.2.0
xkit==0.0.0
yamllint==1.26.3
zipp==1.0.0
zope.interface==5.4.0
